$Banner-bg-url:"https://images.unsplash.com/photo-1518640165980-d3e0e2aa6c1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80";
.cartIcon{
    background: transparent;
    position: relative;
    .badge{
        position: absolute;
        top:3px;
        right:3px;
    }
}
.dropdown-menu-right{
    right:0;
    left: auto;
}
.jumbotron-bg{
    background-image: url($Banner-bg-url);
    background-size: cover;
    background-position: center center;
    min-height: 400px;
}
.bg-lighter{
    background: rgba(255, 255, 255, 0.4)
}
.box-shadow{
    box-shadow: 0 3px 5px rgba(0,0,0,0.16);
}
.box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.24);
}
.box-shadow a:hover{
    text-decoration: none;
}
